body {
  background: lightcyan;
  text-align: center;
  margin-top: 100px;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 0 10px gray;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
  margin-left: 10px;
}

#weatherDiv {
  margin-top: 40px;
}

.weather-icon {
  font-size: 80px;
}

.weather-text {
  font-size: 20px;
}